<table class="table table-striped table-hover" *ngIf="isAdmin">
  <thead class="thead-dark">
    <tr>
      <th>Başvuru ID</th>
      <th>Kullanıcı Adı</th>
      <th>Yaş</th>
      <th>Aylık Gelir</th>
      <th>Onay Durumu</th>
      <th>Bekleyen Durum</th>
      <th>Vadeli Hesap mı?</th>
      <th>İşlem</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let application of applications">
      <td>{{ application.id }}</td>
      <td>{{ getUserFullName(application.appUserId) }}</td>
      <td>{{ application.age }}</td>
      <td>{{ application.monthlyIncome | currency:'TRY':'symbol' }}</td>
      <td>
        <span [ngClass]="{'text-success font-weight-bold': application.isApprovel, 'text-danger font-weight-bold': !application.isApprovel}">
          <i [ngClass]="{'fa-solid fa-check-circle': application.isApprovel, 'fas fa-times-circle': !application.isApprovel}"></i>
          {{ application.isApprovel ? 'Onaylandı' : 'Onaylanmadı' }}
        </span>
      </td>
      <td>
        <span [ngClass]="{'text-warning font-weight-bold': application.pending, 'text-success font-weight-bold': !application.pending}">
          <i [ngClass]="{'fa-solid fa-clock': application.pending, 'fas fa-check': !application.pending}"></i>
          {{ application.pending ? 'Beklemede' : 'Tamamlandı' }}
        </span>
      </td>
      <td>
        <span [ngClass]="{'text-primary font-weight-bold': application.isVadeli, 'text-secondary font-weight-bold': !application.isVadeli}">
          <i [ngClass]="{'fa-solid fa-calendar': application.isVadeli, 'fas fa-calendar-day': !application.isVadeli}"></i>
          {{ application.isVadeli ? 'Evet' : 'Hayır' }}
        </span>
      </td>
      <td>
        <button (click)="deleteApplication(application.id)" class="btn btn-danger btn-sm">
          <i class="fas fa-trash"></i> Sil
        </button>
      </td>
    </tr>
  </tbody>
</table>


<div class="container mt-5" *ngIf="!isAdmin">
  <p class="text-center text-danger">Bu sayfayı görüntüleme izniniz yok.</p>
</div>