<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Kaan Bank</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="isLoggedIn() && isRole('user')">
        <a class="nav-link" (click)="onHomePage()">Home</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn() && isRole('admin')">
        <a class="nav-link" (click)="onAdmin()">Admin</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn() && isRole('admin')">
        <a class="nav-link" (click)="onAllAccount()">Hesaplar</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn() && isRole('admin')">
        <a class="nav-link" (click)="onApplication()">Başvurular</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn() && isRole('user')">
        <a class="nav-link" (click)="onMyApplication()">Başvurularım</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn() && isRole('user')">
        <a class="nav-link" (click)="onTransfer()">Para Transferi</a>
      </li>
    </ul>
  </div>
  <button *ngIf="isLoggedIn()" (click)="logout()" class="btn btn-danger ml-3">Logout</button>
</nav>
