/* adminpage.component.css */
.table {
    margin-top: 20px;
  }
  
  .table th, .table td {
    text-align: center;
  }
  
  .thead-dark th {
    background-color: #343a40;
    color: #fff;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .alert {
    margin-top: 20px;
  }
  